* {
    margin: 0;
    padding: 0;
}

.container, html, body {
    background-color: rgb(107, 55, 5);
}

header, footer {
    margin: 0 !important;
    background-color: rgb(107, 55, 5) !important;
}

h3 {
    margin: 10px 0!important;
}
img {
    width: 100px;
    border-radius: 50%;
}

.col {
    margin: 0!important;
    padding: 1px!important;
}

main {
    height: 640px;
    background-color: rgb(14, 139, 52);
}

.areas-container {
    background-color: rgb(18, 114, 47) !important;
}

.guest {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    height: 93%;
    background-color: white;
    box-shadow: 5px 5px rgba(48, 48, 48, 0.7);
}

.areas {
    height: 100% !important;
}

.destination {
    padding: 10px;
    border-radius: 10px;
    height: 270px;
    background-color: white;
    box-shadow: 5px 5px rgba(48, 48, 48, 0.7);
}

.destination-row {
    height: 45% !important;
}

footer {
    margin-top: 20px;
}